# Core API & Data Handling
requests>=2.31.0
urllib3>=2.0.0
python-dotenv>=1.0.0
tenacity>=8.2.0

# LangChain & AI Orchestration
langchain>=0.1.0
langchain-openai>=0.1.0
langchain-core>=0.1.0
langgraph>=0.0.1

# Utilities
pydantic>=2.0.0

#Front End
streamlit
plotly>=5.18.0